<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= product.name %>
    </title>
</head>

<body>
    <h1>
        <%= product.name %>
    </h1>
    <ul>
        <li>
            <%= product.price %>
        </li>
        <li>
            <%= product._id %>
        </li>
        <li>
            <%= product.category %>
        </li>
        <a href="/products/<%= product.id%>/edit">edit</a>
        <form action="/products/<%=product._id %>?_method=DELETE" method="POST">
            <button>delets</button>
        </form>
    </ul>
</body>

</html>