<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=name%>
    </title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1> your brwosing <%= name %>
    </h1>
    <h2>
        <%= description%>
    </h2>
    <p>
        <%=subscribers%>
    </p>
    <hr>

    <% for (let post of posts) { %>
        <article>
            <p><strong>Title:</strong>
                <%= post.title %>
            </p>
            <p><strong>Author:</strong>
                <%= post.author %>
            </p>
            <% if (post.img) { %>
                <img src="<%= post.img %>" alt="Post image" style="max-width: 100%; height: auto;">
                <% } %>
        </article>
        <hr>
        <% } %>

</body>

</html>